<key>NSLocationWhenInUseUsageDescription</key>
<string>We need your location to show you the weather information</string>
<key>NSLocationAlwaysUsageDescription</key>
<string>We need your location to show you the weather information</string>
<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
<string>We need your location to show you the weather information</string>
